# Revision

In [ ]:
# Inroduction of Pandas
# Pandas DS - Series, DataFrame, Panel
# CRUD -> Series
1. Using ndarray
2. Using dict
3. Scalar Value
4. Empty Series
# Boolean Masking
# Arithmetic Operation

# DataFrame - MIMP DS

1. It is a 2D DS

In [ ]:
# SYNTAX: pd.DataFrame(data, index, columns, dtype, copy)

In [1]:
import pandas as pd

# CRUD must when dealing with table
* Entire pandas is built on numpy hence we can do numpy operations on pandas

* C - Create

In [ ]:
1. List
2. Dict
3. ndarrays
4. Series
5. Another DataFrame

1. Empty DataFrame

In [2]:
df = pd.DataFrame()

In [3]:
df

Empty DataFrame
Columns: []
Index: []

2. Create a DataFrame using List

In [4]:
data = [7,8,44,56,23,98]
df = pd.DataFrame(data)

In [5]:
df # It is dataframe bcz it is 2D as 0 is also come up that signifies the column

    0
0   7
1   8
2  44
3  56
4  23
5  98

In [6]:
s = pd.Series(data)

In [7]:
s

0     7
1     8
2    44
3    56
4    23
5    98
dtype: int64

In [8]:
data = [["Dog","Bhaw Bhaw"],["Cat", "Meow"],["Cow","Moo"]]
df = pd.DataFrame(data,columns=["Animal_name","Animal_sound"])

In [9]:
df

  Animal_name Animal_sound
0         Dog    Bhaw Bhaw
1         Cat         Meow
2         Cow          Moo

In [10]:
df

  Animal_name Animal_sound
0         Dog    Bhaw Bhaw
1         Cat         Meow
2         Cow          Moo

In [12]:
data = [["Dog","Bhaw Bhaw"],["Cat", "Meow"],["Cow","Moo"]]
df = pd.DataFrame(data,columns=["Animal_name"]) # It will throw error because no all coloumns are named only name is given but sound is lleft

3. Dict

In [13]:
data = {"Name":["Ram", "Rahul", "Bhwana"], "Age":[25, 20, 18]}
df = pd.DataFrame(data)

In [14]:
df

     Name  Age
0     Ram   25
1   Rahul   20
2  Bhwana   18

In [15]:
data = {"Name":["Ram", "Rahul", "Bhwana", "Harsh"], "Age":[25, 20, 18, 20]}
df = pd.DataFrame(data, index = ["A", "B", "C", "D"])

In [16]:
df

     Name  Age
A     Ram   25
B   Rahul   20
C  Bhwana   18
D   Harsh   20

In [17]:
data = {"Name":["Ram", "Rahul", "Bhwana"], "Age":[25, 20, 18, 19]}
df = pd.DataFrame(data, index = ["A", "B", "C","D"]) # It will throw error because In DF rows and cols should be precisely mentioned otherwise will throw error

ValueError: Length of values (3) does not match length of index (4)

4. Create DataFrame using Series

In [18]:
data = {"Karan_Marks":pd.Series([50,77,65,98],index=["Test1","Test2","Test3","Test4"]),
        "Arjun_Marks":pd.Series([67,89,32,98,50],index=["Test-1","PTest1","Test-2","PTest2","Test-3"])}
df = pd.DataFrame(data)

In [19]:
df
# If columns headings are changed to A & B and all the values -> NaN
# If only columns headings are changed to A & B but the data remain the same

        Karan_Marks  Arjun_Marks
PTest1          NaN         89.0
PTest2          NaN         98.0
Test-1          NaN         67.0
Test-2          NaN         32.0
Test-3          NaN         50.0
Test1          50.0          NaN
Test2          77.0          NaN
Test3          65.0          NaN
Test4          98.0          NaN

In [20]:
data = {"Karan_Marks":pd.Series([50,77,65,98],index=["Test1","Test2","Test3","Test4"]),
        "Arjun_Marks":pd.Series([67,89,32,98,50],index=["Test-1","PTest1","Test-2","PTest2","Test-3"])}
df = pd.DataFrame(data)

In [21]:
df
# If all columns headings are changed to A & B  and all the values  -> NaN
# If only columns headings are changed to A & B  but data remains the same

        Karan_Marks  Arjun_Marks
PTest1          NaN         89.0
PTest2          NaN         98.0
Test-1          NaN         67.0
Test-2          NaN         32.0
Test-3          NaN         50.0
Test1          50.0          NaN
Test2          77.0          NaN
Test3          65.0          NaN
Test4          98.0          NaN

5. Create a DataFrame from List of Dict

In [22]:
data = [{"A":1,"B":2,"C":90},{"C":3,"D":4},{"E":5,"F":6}]
df = pd.DataFrame(data)

In [23]:
df # FullForm of NaN is Not a NUMBER

     A    B     C    D    E    F
0  1.0  2.0  90.0  NaN  NaN  NaN
1  NaN  NaN   3.0  4.0  NaN  NaN
2  NaN  NaN   NaN  NaN  5.0  6.0

In [24]:
data = [{"A":1,"B":2},{"C":3,"D":4},{"E":5,"F":6}]
df = pd.DataFrame(data,index=["X","Y","Z"])

In [25]:
df

     A    B    C    D    E    F
X  1.0  2.0  NaN  NaN  NaN  NaN
Y  NaN  NaN  3.0  4.0  NaN  NaN
Z  NaN  NaN  NaN  NaN  5.0  6.0

# Update

In [26]:
data = [10,20,30,40,50,60,70]
dat1 = [100,200,300,400,500,600,700]
df = pd.DataFrame([data,dat1], columns=["A","B","C","D","E","F","G"])

In [27]:
df

     A    B    C    D    E    F    G
0   10   20   30   40   50   60   70
1  100  200  300  400  500  600  700

1. Column Selection

In [29]:
df["A"]

0     10
1    100
Name: A, dtype: int64

2. Add a column

In [32]:
df['H'] = [56,78]

In [33]:
df

     A    B    C    D    E    F    G   H
0   10   20   30   40   50   60   70  56
1  100  200  300  400  500  600  700  78

In [34]:
df['M'] = pd.Series([56,78,89]) # It will not count 89 as here we have only two rows so it will only print values of 2 data

In [35]:
df

     A    B    C    D    E    F    G   H   M
0   10   20   30   40   50   60   70  56  56
1  100  200  300  400  500  600  700  78  78

In [38]:
df['N'] = pd.Series([56,66])

In [39]:
df

     A    B    C    D    E    F    G   H   M   N
0   10   20   30   40   50   60   70  56  56  56
1  100  200  300  400  500  600  700  78  78  66

In [40]:
df['Z'] = pd.Series([1,2,3,4],index=[0,1,2,3])

In [41]:
df

     A    B    C    D    E    F    G   H   M   N  Z
0   10   20   30   40   50   60   70  56  56  56  1
1  100  200  300  400  500  600  700  78  78  66  2

In [42]:
df['Y'] = pd.Series([1,2,3,4],index=["A","B","C","D"]) # Here it will give NaN value to Y because index are not matched as index are 0,1...

In [43]:
df

     A    B    C    D    E    F    G   H   M   N  Z   Y
0   10   20   30   40   50   60   70  56  56  56  1 NaN
1  100  200  300  400  500  600  700  78  78  66  2 NaN

3. Delete a column

In [44]:
df

     A    B    C    D    E    F    G   H   M   N  Z   Y
0   10   20   30   40   50   60   70  56  56  56  1 NaN
1  100  200  300  400  500  600  700  78  78  66  2 NaN

In [45]:
# DEL Keyword
del df['G']

In [46]:
df

     A    B    C    D    E    F   H   M   N  Z   Y
0   10   20   30   40   50   60  56  56  56  1 NaN
1  100  200  300  400  500  600  78  78  66  2 NaN

In [47]:
# Pop function
df.pop('Z')

0    1
1    2
Name: Z, dtype: int64

In [48]:
df

     A    B    C    D    E    F   H   M   N   Y
0   10   20   30   40   50   60  56  56  56 NaN
1  100  200  300  400  500  600  78  78  66 NaN

In [ ]:
df['C']

0     30
1    300
Name: C, dtype: int64

In [49]:
df[['C']]

     C
0   30
1  300

In [50]:
df[['E','A','N']]

     E    A   N
0   50   10  56
1  500  100  66

In [ ]:
df['E','A','N'] # It will throw error because in this format we can only have one dataframe

KeyError: ignored

In [51]:
df

     A    B    C    D    E    F   H   M   N   Y
0   10   20   30   40   50   60  56  56  56 NaN
1  100  200  300  400  500  600  78  78  66 NaN

In [52]:
del df['D','Y'] # we can only delete single column at once hence this will throw an error

KeyError: ('D', 'Y')

In [53]:
df.pop(["D","Y"]) # it has same functionality as del so will only delete one column

InvalidIndexError: ['D', 'Y']

In [54]:
df.pop("D","Y")

TypeError: DataFrame.pop() takes 2 positional arguments but 3 were given

In [58]:
# drop() difference is del and pop willl delete permanantly whereas drop will delete temporary
#df.drop(["D","Y"]) # this will be unable to find axis
df.drop(["D","Y"],axis=1) # here when we use axis then it is permanant delete

     A    B    C    E    F   H   M   N
0   10   20   30   50   60  56  56  56
1  100  200  300  500  600  78  78  66

In [59]:
df

     A    B    C    D    E    F   H   M   N   Y
0   10   20   30   40   50   60  56  56  56 NaN
1  100  200  300  400  500  600  78  78  66 NaN

In [60]:
df["P"] = df["E"] + df["N"]
# 0 -> Null, Void, NaN

In [61]:
df

     A    B    C    D    E    F   H   M   N   Y    P
0   10   20   30   40   50   60  56  56  56 NaN  106
1  100  200  300  400  500  600  78  78  66 NaN  566

In [63]:
df["P"] + df["N"] # It will create NaN because anything added with NaN is NaN itself. Don't confuse it with 0. NaN is not any number

0    162
1    632
dtype: int64

In [65]:
df

     A    B    C    D    E    F   H   M   N   Y    P
0   10   20   30   40   50   60  56  56  56 NaN  106
1  100  200  300  400  500  600  78  78  66 NaN  566

In [66]:
df1 = [{"A":45,"B":98,"P":104}] # this is data and not dataframe

In [ ]:
df = df.append(df1,index="Hey")

TypeError: ignored

In [ ]:
df

     A    B      C      D      E      F     H     M     N   Y      P
0   10   20   30.0   40.0   50.0   60.0  56.0  56.0  56.0 NaN  106.0
1  100  200  300.0  400.0  500.0  600.0  78.0  78.0   NaN NaN    NaN
0   45   98    NaN    NaN    NaN    NaN   NaN   NaN   NaN NaN  104.0

In [ ]:
df = pd.DataFrame(df1)

In [ ]:
df["hello"] = 130

In [ ]:
df

    A   B    P  hello
0  45  98  104    130

In [ ]:
# df.insert(location, name_of_column, data)

In [ ]:
df.insert(2,"bbye",[100])

In [ ]:
df

    A   B  bbye    P  hello
0  45  98   100  104    130

In [ ]:
df.insert(2,"bank",200,300)

In [ ]:
df

    A   B  bank  bbye    P  hello
0  45  98   200   100  104    130